body{
	background:#60caca;
	font-family:"calibri",sans-serif;
	font-size:18px;
}
.wrapper{
	width:500px;
	margin:80px auto;
}
.item > img{
	width:100%;
}
.carousel-container{
	border:20px solid #f7de63;
}